name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  RUST_LOG: info
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Test Rust ${{ matrix.rust }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rust: [stable, beta, nightly]

    steps:
    - uses: actions/checkout@v4
    - uses: hecrj/setup-rust-action@v2
      with:
        rust-version: ${{ matrix.rust }}
    - uses: taiki-e/install-action@nextest

    - name: Run tests
      run: cargo nextest run --workspace --no-fail-fast

    - name: Run doc tests
      run: cargo test --doc

  rustfmt:
    name: Ensure rustfmt is happy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: hecrj/setup-rust-action@v2
      with:
        components: rustfmt
    - run: cargo fmt --all -- --check

  clippy:
    name: Lint the codebase with clippy
    runs-on: ubuntu-latest
    # env:
    #   RUSTFLAGS: -Dwarnings
    steps:
    - uses: actions/checkout@v4
    - uses: hecrj/setup-rust-action@v2
      with:
        components: clippy
    - uses: actions-rs/clippy-check@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        args: --all-targets --all-features --examples --tests

  rustdoc-links:
    name: Check doc links are valid
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: "-D warnings -D rustdoc::broken-intra-doc-links"

    steps:
    - uses: actions/checkout@v4
    - uses: hecrj/setup-rust-action@v2
    - run: cargo doc --all-features --workspace

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: check typos
        uses: crate-ci/typos@v1.23.5
